body {
    background-color: beige;
    font-size: medium;
}

nav {
    display: flex;
    justify-content: space-around;
    border-radius: 1em;
    background-color: rgb(199, 207, 213);
    padding-left: 1em;
    padding-right: 1em;
    line-height: 2em;

}

a {
    text-decoration: none;
    color: rgb(214, 147, 60);
}

a:hover {
    color: aqua;
}

.header_titre {
    width: 20%;
}

.logo {
    width: 15%;
    padding-top: 1%;
}


.main_div {
    background-color: lightblue;
    display: flex;
    justify-content: space-between;
    margin: auto;
    border: 4px solid rgb(225, 229, 236);
    border-radius: 1em;
    box-sizing: border-box;
    height: 100%;
}


table.accueil {
    width: 100%;
    border-collapse: collapse;
    border-radius: 25px;
    border-spacing: 5px;
    background-color: aqua;
    padding-right:0;
}

table.accueil td{
    padding: 15px;
    text-align: left;
    
}